/* import the Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* reset styles for all elements */
* {
  padding: 0;
  border: 0;
  font-family: "Poiret One", Courier, monospace;
}

/* navigation menu styles */
.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* button styles */
.button {
  font-family: "Poiret One", Courier, monospace;
  display: inline-block;
  padding: 30px 50px;
  margin: 0 10px;
  background-color: antiquewhite;
  color: #131212;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* button hover state styles */
.button:hover {
  background-color: #a19d9d;
}

/* footer styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* styles for the html and body elements */
html,
body {
  height: 100%;
}

/* background styles for the body element */
body {
  background-size: cover;
  background-position: center;
  background-image: url("./img/img4.jpg");
}

/* styles for the form container */
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* label styles */
label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

/* input styles */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* file input styles */
input[type="file"] {
  margin-bottom: 20px;
}

/* submit button styles */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* submit button hover state styles */
input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* styles for the map container */
.map-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
